streamlit
google-generativeai
langchain
langchain-google-genai
langchain-community
pydantic
PyYAML
python-dotenv
langchain-qdrant
langchain-huggingface
qdrant-client
sentence-transformers
torch
requests
duckduckgo-search