streamlit
google-generativeai
langchain
langchain-google-genai
langchain-community
pydantic
PyYAML
python-dotenv
langchain-qdrant
langchain-huggingface
qdrant-client
sentence-transformers
# Use CPU-only PyTorch for Streamlit Cloud
torch==2.1.0+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
requests
duckduckgo-search